{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="border mt-5 bg-custom borderblanche mx-auto  mx-auto p-4 col-11 col-lg-8  d-flex flex-column">
{% include "@FOSUser/Profile/edit_content.html.twig" %}
</div>
{% endblock fos_user_content %}
