{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="pt-5 pb-4 col-6 bg-custom borderblanche mx-auto">
{% include "@FOSUser/Resetting/request_content.html.twig" %}
</div>
{% endblock fos_user_content %}
