{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
 <form id="chat" class="text-center mt-5">
            <select id="monselect">
                  <option value="public">Public</option>
                {% for user in users %}
                    <option value="{{user.username}}">{{user.username}}</option> 
                {% endfor %}
            </select>
            <input type="text">
            <button type="submit">envoyer</button>
</form>

<button id="match-making">Trouver une partie !</button>

<div id="root"><div>
{% endblock %}

     
            {# Cette ligne doit être en dernière pour que l'on dispose d'une écoute terminale #}
{% block javascripts %}           
 <script type="text/javascript" src="{{ asset('build/js/accueil.js') }}"></script>
{% endblock %}