{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="row mt-5">
    <div id="home-left" class="col-md-5 offset-md-1 mb-4">
        <button class="btn btn-light mt-5 d-block mx-auto" id="match-making">Trouver une partie</button>
        <button class="btn btn-light mt-5 d-block mx-auto mb-5" id="match-making">Inviter un joueur</button>
    </div>
    <div class="col-md-4 offset-md-1 mb-5" id="root"><div>
</div>

{% endblock %}


{% block javascripts %}           
 <script type="text/javascript" src="{{ asset('build/js/accueil.js') }}"></script>
{% endblock %}

            {# Cette ligne doit être en dernière pour que l'on dispose d'une écoute terminale #}
