{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
<div class="mt-5 border shadow border-light mx-auto bg-dark  p-4 col-11 col-lg-5  d-flex flex-column">
{% include "@FOSUser/Registration/register_content.html.twig" %}
</div>
{% endblock fos_user_content %}
