{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            {% block fos_user_content %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <h1>Bienvenue ! <h1>
                    {# Si on veut inclure le template Login du FOSUserBundle sans utiliser la méthode de redirection via security.yml #}
                    {# {{ render(controller('FOSUserBundle:Security:login')) }} #}
                {% endif %}
            {% endblock %}
        </div>
    </div>    
 
{% endblock %}
