{% extends 'base.html.twig' %}

{% block title %}Edit ArticleAnswer{% endblock %}

{% block body %}
    <h1>Edit ArticleAnswer</h1>

    {{ include('article_answer/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
