<form class="d-inline" method="post" action="{{ path('message_delete', {'id': message.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
    <button class="btn btn-dark">Supprimer</button>
</form>
