{% extends 'message/message_layout.html.twig' %}

{% block title %}New Message{% endblock %}

{% block body %}
{{ parent() }}
    <h3 class="font-weight-bold text-center mt-2 mb-5">Envoyer un nouveau message privé :</h3>

    {{ include('message/_form.html.twig') }}
{% endblock %}
