{% extends 'base.html.twig' %}

{% block title %}Editer un Article, Chess-Online{% endblock %}

{% block body %}
   <div class="row col-12 mx-auto">
        <div class="bg-custom borderblanche col-12 col-md-10 mx-auto p-4">
        <h3 class="font-weight-bold text-center mt-3 mb-5 font-custom">Editer l'article :</h3>
        {{ include('article/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
