{% extends 'base.html.twig' %}

{% block title %}Editer un Article, Chess-Online{% endblock %}

{% block body %}
    <h3 class="text-center font-weight-bold">Editer :</h3>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
