{% extends 'base.html.twig' %}

{% block title %}Nouvel article - Chess-Online{% endblock %}

{% block body %}
<div class="pt-5 bg-custom col-10 mx-auto">
    <h2 class="font-weight-bold text-center mt-5 mb-4">Nouvel Article : </h2>

    {{ include('article/_form.html.twig') }}
</div>
{% endblock %}
